.panel-ct {
  border-color: #3A539B;
}

.panel-ct>.panel-heading {
  color: white;
  background-color: #4B77BE;
  border-color: #3A539B;
}

.panel-ls {
  border-color: #222222;
}

.panel-ls>.panel-heading {
  color: white;
  background-color: #404040;
  border-color: #222222;
  border-radius: 0;
}

.panel-ls>.panel-body.tradeBody {
  background-color: #282828;
}

.panel-float {
  border-color: #222222;
}

.right_top .panel-primary>.panel-heading,
.panel-ls.tradePanel>.panel-heading,
.panel-ct>.panel-heading,
.panel-red>.panel-heading,
.panel-yellow>.panel-heading {
	font-size: 20px;
	font-weight: 700;
}

.tradePanel>.panel-body {
  height: 56vh;
  min-height: 360px;
}

#stockGraph {
  z-index: 1000;
  position: absolute;
  display: none;
}

.refresh {
  top: 0;
  right: 0;
  cursor: pointer;
  float: right;
  color: #5393C8;
  z-index: 100;
}

.refresh:hover {
  color: #BED8EE;
}

/***************
   Left Part
***************/

.left_list {
  top: 0;
  left: 0;
  width: 201px;
  height: 112vh;
  float: left;
  border-radius: 0 !important;
}

.hover_stock {
  background-color: #EDEDED;
}

#stocksList tr {
  cursor: pointer;
  text-align: center;
}

#stocks_filter {
  margin: 10px 5px 0 -120px;
}

#stocks_filter input {
  width: 140px;
}

.details_left {
  text-align: right;
}

.details_right {
  text-align: left;
}

.details_left,
.details_right {
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px 0;
}


/***************
   Right Part
***************/

.right_top {
  height: 40vh;
}

.right_bottom {
  height: 40vh;
}

.top_news {
  left: 0;
  right: 0;
  height: 42px;
  margin: 0 -30px 20px -30px;
  padding: 10px;
  /*background-color: #81CFE0;*/
  background-color: #404040;
  color: white;
  text-align: center;
  font-size: 14px;
}

.top_news a {
  color: #E4F1FE;
  font-style: italic;
}

span.up {
  color: #2ECC71;
}

span.down {
  color: #F22613;
}

.history {
  height: 300px;
}

#history_filter,
#portfolio_filter {
  float: left;
  text-align: left;
}

#stock {
  text-transform: uppercase;
}